body {
  background: #eee;
  margin: 0;
}

svg {
  display: block;
  border: 1px solid #ccc;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #fff;
}

.face {
  stroke: #000;
  stroke-width: 20px;
  stroke-linecap: round;
}
